[package]
name = "virtio-queue"
version = "0.11.0"
authors = ["The Chromium OS Authors"]
description = "virtio queue implementation"
repository = "https://github.com/rust-vmm/vm-virtio"
keywords = ["virtio"]
readme = "README.md"
license = "Apache-2.0 OR BSD-3-Clause"
edition = "2021"

[features]
test-utils = []

[dependencies]
vm-memory = "0.14.0"
vmm-sys-util = "0.12.1"
log = "0.4.17"
virtio-bindings = { path="../virtio-bindings", version = "0.2.2" }

[dev-dependencies]
criterion = "0.5.1"
vm-memory = { version = "0.14.0", features = ["backend-mmap", "backend-atomic"] }
memoffset = "0.9.0"

[[bench]]
name = "main"
harness = false
